<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
        <title>AnnoyingChat</title>
    </head>
    
    <body>
        <!-- TODO: Please change lines 10 and 11 according to your actual project name and student names-->
        <div class="topcorner">
            <p>
                Chi Wei Zhang (cz222)<br>
                Nicole Felty (njf53)<br>
                Nishit Porwal (nap72)<br>
                Alin Barsan (ab973)</p>
        </div>
        
        <form class="form-inline global-search" method='GET'>
            <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
                Annoying
                <font color=#EA4335>Chat</font>
            </h1>
            
            <br><br>
            
            <div class="form-group">
                <div style="position: absolute; right: 25; top: 120; text-align: right">
                    <strong>Use Algorithm:</strong><br>
                    {% if algorithm == '' or algorithm == 'random' %}
                        Random <input type="radio" name="algorithm" value="random" autocomplete='on' checked><br>
                        Trivial <input type="radio" name="algorithm" value="trivial" autocomplete='on'><br>
                        Final <input type="radio" name="algorithm" value="final"><br>
                    {% elif algorithm == 'trivial' %}
                        Random <input type="radio" name="algorithm" value="random" autocomplete='on'><br>
                        Trivial <input type="radio" name="algorithm" value="trivial" autocomplete='on' checked><br>
                        Final <input type="radio" name="algorithm" value="final"><br>
                    {% elif algorithm == 'final' %}
                        Random <input type="radio" name="algorithm" value="random" autocomplete='on'><br>
                        Trivial <input type="radio" name="algorithm" value="trivial" autocomplete='on'><br>
                        Final <input type="radio" name="algorithm" value="final" checked><br>
                    {% endif %}                                      
                    
                </div>
                {% if search == ''%}
                <input id="input" type="text" name="search" class="form-control" placeholder="Your Input">
                {% else %}
                <input id="input" type="text" name="search" class="form-control" placeholder="{{ search }}" value="{{ search }}">
                {% endif %}
            </div>
            <button type="submit" class="btn btn-info"> Go! </button>
        </form>

        <!--
        <form class="form-inline global-search" style="position: absolute; left: 10; top: 10;" method='GET'>
            <div class="form-group">
                <input id="input" type="text" name="twitter" class="form-control" style="display:none;" value="twitter">
            </div>
            <button type="submit" class="btn btn-info">Update Twitter </button>
        </form>
        -->
        
        <div class="form-inline global-search">
            {% if algorithm == 'final' %}
                {% for line in output %}
                    <br>
                    <div style = "width: 800; margin: 0 auto; text-align: center">
                        <br><span style="font-size: 150%; font-weight: bold">{{line.0}}</span><br>
                        <em>From <span style="font-size: 120%; color: blue">"{{line.1}}"</span> in response to <span style="font-size: 120%; color:green">"{{line.2}}"</span></em><br>
                    </div>
                {% endfor %}
            {% else %}     
                <h4>Output</h4><br>
                {% for line in output %}
                    <br>{{line}}<br>
                {% endfor %}
            {% endif %}


            

            <!--
            <div class="pagination">
                <span class="step-links">
                    {% if output.has_previous %}
                    <a href= "{{magic_url}}&page={{ output.previous_page_number }}">previous</a>
                    {% endif %}
                    
                    
                    <span class="current">
                    Page _{{ output.number }}_ of _{{ output.paginator.num_pages }}_
                    </span>
                    
                    {% if output.has_next %}
                    <a href= "{{magic_url}}&page={{ output.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
            -->
        </div>
    </body>
</html>